body {
    padding: 30px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    background-image: url(bg.jpg);
    background-repeat: repeat;
   }
.header {
    padding: 10px;
    font-size: 15px;
    text-align: center;
}
.card {
    padding: 10px;
    text-align: justify;
    margin-top: 10px;
}
.kbm{
    text-align: center;
    display: flex;
}
body {
    padding: 0;
    background: url(bg.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
.menu {
    position: relative;
}
.ani-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(-3em);
    z-index: -1;
    transition: all 0.3s ease 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}
.menu:focus .ani-menu,
.menu:focus-within .ani-menu,
.menu:hover .ani-menu{
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0);
    transition-delay: 0s, 0s, 0.3s;
}
nav a {
    color: #fff;
    display: block;
    padding: 15px 60px;
    text-decoration: none;
    font-family: big john; 
}
.ani-menu a{
    width: 70%;
    padding: 15px 30px;
    font-family: roboto;
    background-color: black;
}
.ani-menu a:hover {
    background: #262626;
}
nav a:hover {
    background: #262626;
}
nav ul, nav ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav > ul {
    background: navy;
    text-align: center;
}
nav > ul > li {
    display: inline-block;
    border-left: 1px solid #fff;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: black;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
    font-family: big john;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}