/* FONT */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;1,600&display=swap');

  /* MEMPERMUDAH */
:root{
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

/* TEMA GELAP */
.dark-theme-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --box-shadow: 0 2rem 3rem var(--color-light);
    --color-info-light: #363949;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: 0;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    scroll-behavior: smooth;
}
body {
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8 rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font: 0.75rem;
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--color-info-dark)
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

aside{
    height: 100vw;
}

aside .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo{
    display: flex;
    gap: 0.8rem;
}

aside .logo img{
    width: 4rem;
    height: 4rem;
}

aside .close{
    display: none;
}

/* SIDEBAR */
aside .sidebar{
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3{
    font-weight: 500;
}

aside .sidebar a{
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100vw;
}

aside .sidebar a.active{
    background: var(--color-light);
    margin-left: 0;
}

aside .sidebar a.active:before{
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover{
    color: var(--color-primary);
}

aside .sidebar a:hover span{
    margin-left: 1rem;
}

aside .sidebar .message-count{
    background: var(--color-primary);
    color: var(--color-white);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

/* MAIN */

main {
    margin-top: 1.4rem;
}

main .date {
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}

main .date input[type="date"]{
    background: transparent;
    color: var(--color-dark);
}

main .insights{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

main .insights > div {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .insights > div:hover{
    box-shadow: none;
}

main .insights > div span{
    background: var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
}

main .insights > div.mahasiswa span{
    background: var(--color-danger);
}

main .insights > div.fakultas span{
    background: var(--color-success);
}

main .insights > div .middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insights h3{
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}

main .insights .progress {
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

main .insights svg{
    width: 7rem;
    height: 7rem;
}

main .insights svg circle{
    fill: none;
    stroke: var(--color-primary);
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;
}

main .insights .dosen svg circle{
    stroke-dashoffset: -30%;
    stroke-dasharray: 200;
}

main .insights .mahasiswa svg circle{
    stroke-dashoffset: 20;
    stroke-dasharray: 80;
}

main .insights .fakultas svg circle{
    stroke-dashoffset: 35;
    stroke-dasharray: 110;
}

main .insights .progress .number{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .insights small{
    margin-top: 1.6rem;
    display: block;
}

/* RECENT */

main .recent {
    margin-top: 2rem;
}

main .recent h2{
    margin-bottom: 0.8rem;
}

main .recent table{
    background: var(--color-white);
    width: 100%;
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    border-collapse: collapse;
}


th {
    background-color: #181a1e;
    color: white;
    font-size: 15px;
    font-weight: 400;
}
th, td {
  text-align: left;
  padding: 8px;
}


tr:nth-child(even) {
  background-color: var(--color-info-light);
}

main .recent table:hover {
    box-shadow: none;
}

main table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

main table tbody tr:last-child td{
    border: none;
}

main .recent a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

/* RIGHT */
.right{
    margin-top: 1.4rem;
}
.right .top{
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.right .top button{
    display: none;
}

.right .theme-toggler{
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right .theme-toggler span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .theme-toggler span.active{
    background: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.right .top .profile{
    display: flex;
    gap: 2rem;
    text-align: right;
}

/* UPDATE TERBARU */
.right .recent-updates{
    margin-top: 1rem;
}

.right .recent-updates h2{
    margin-bottom: 0.8rem;
}

.right .recent-updates .updates{
    background: var(--color-white);
    padding:  var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .recent-updates .update:hover{
    box-shadow: none;
}

.right .recent-updates .updates .update{
    display: flex;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* ANALISA ABSENSI */
.right .absensi-analytics{
    margin-top: 2rem;
}

.right .absensi-analytics h2{
    margin-bottom: 0.8rem;
}

.right .absensi-analytics .item{
    background: var(--color-white);
    display: flex;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    transition: all 300ms ease;
}

.right .absensi-analytics .item:hover{
    box-shadow: none;
}

.right .absensi-analytics .item .right{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    width: 100%;
}

.right .absensi-analytics .item .icon{
    padding: 0.6rem;
    color: var(--color-white);
    border-radius: 50%;
    background: var(--color-primary);
    display: flex;
}

.right .absensi-analytics .see-all{
    background-color: transparent;
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}
.right .absensi-analytics .see-all div{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.right .absensi-analytics .see-all div h3{
    font-weight: 600;
}


/* MEDIA QUERIES */

@media screen and (max-width: 1200px){
    .container{
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }
    aside .logo h2{
        display: none;
    }
    aside .sidebar h3{
        display: none;
    }
    aside .sidebar a{
        width: 5.6rem;
    }
    aside .sidebar a:last-child{
        position: relative;
        margin-top: 1.8rem;
    }

    main .insights{
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .recent{
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 8.8rem;
    }

    main .recent table{
        width: 38vw;
    }

    /* main table thead tr th:last-child,
    main table thead tr th:first-child{
        display: none;
    }
    main table tbody tr th:last-child,
    main table tbody tr th:first-child{
        display: none;
    } */
      footer{
        position: static;
        display: block;
        width: 100%;

        text-align: center;
    }
}

@media screen and (max-width: 768px){
    .container{
        width: 100%;
        grid-template-columns: 1fr;
        overflow: auto;
    }

    aside{
        position: fixed;
        left: 0;
        background: var(--color-white);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
    }

    aside .logo{
        margin-left: 1rem;
    }

    aside .logo h2{
        display: inline;
    }

    aside .sidebar h3{
        display: inline;
    }

    aside .sidebar a{
        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar a:last-child{
        position: absolute;
        bottom: 5rem;
    }

    aside .close{
        display: inline-block;
        cursor: pointer;
    }

    main{
        margin-top: 8rem;
        padding: 0 1rem;
    }

    main .recent{
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }

    main .recent table{
        width: 100%;
        margin: 0;
        overflow: auto;
    }
    .tuable{
        width: 100%;
        overflow: auto;
    }

    .right{
        width: 94%;
        margin: 0 auto 4rem;
    }

    .right .top{
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: var(--color-white);
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
    }

    .right .top .theme-toggler{
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }

    .right .profile .info{
        display: none;
    }

    .right .top button{
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .right .top .button spam{
        font-size: 2rem;
    }

    .popup{
        align-items: center;
        text-align: center;
        display: inline-block;
    }
    footer{
        position: fixed;
    }

}

footer{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--color-primary);
    min-height: 100px;
    padding: 20px 50px;
}

footer p{
    color: var(--color-white);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1rem;
}


.pt {
    padding-top: 10px;
}

button {
    padding: 10px 24px;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    overflow: hidden;
    transition: .3s ease;
    position: relative;
    background: transparent;
}

button::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--color-primary);
    top: -100%;
    left: 50%;
    transform: translate(-50%, 0) scale(1);
}

button:hover::before{
    animation: animateBefore 1s ease forwards;
}

button:hover {
    transition-delay: .75s;
    color: #fff;
}

@keyframes animateBefore {
    0% {
        top: -100%;
        transform: translate(-50%, 0) scale(1);
    }
    50% {
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
    }
    65% {
        top: -20%;
        transform: translate(-50%, 0) scale(1);
    }
    75% {
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        top: 50%;
        transform: translate(-50%, -50%) scale(14);
    }
}


select{
    -webkit-appearance: none ;
    -moz-appearance: none ;
    -ms-appearance: none ;
    appearance:none ;
    outline: 0;
    box-shadow: none;
    border: 0!important;
    background: var(--color-info-light);
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color: #000;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
}

select::-ms-expand{
    display: none;
}

.selected{
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: var(--color-primary);
    overflow: hidden;
    border-radius: .25em;
}

.selected::after{
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    cursor: pointer;
    background: #9a9cab;
    pointer-events: none;
    transition: .25 all ease;
}

.selected:hover::after{
    color: var(--color-info-dark);
}

.popup {
  display: none;
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4); 
  justify-content: center;
  padding: 0 30px 30px;
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}